input{
  width: 20%;
  height: 2rem;
}

input::placeholder{
  padding-left: 1rem;
}

#button{
  width: 4rem;
  height: 2rem;
  margin-left: 1rem;
  padding: 7px;
  border-radius: 12%;
  border: 1px solid black;
}